* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//variables//

$titulo: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
$texto: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;

$colortitulos: black;

$colorrojo: #CC2732;

$colorfondo: whitesmoke;

h1, h2, h3, h4, h5, h6 {
    font-family: $titulo;
    font-weight: 25px*2;
}

a, p {
    font-family: $texto;
    text-decoration: none;
    color: black;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    background-color: $colorfondo;
}