
.menu-navegacion{
     
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin: 0px 40px 40px;
    padding: 20px 20px;
    background-color: $colorrojo;
    box-shadow: 5px 5px 5px rgb(207, 207, 207);
}

